@{
    ViewBag.Title = "Index";
}

<div class="row" id="Index-Rol">
    <div class="col-12">
        <div class="card mb-4">
            <h5 class="card-header">ROLES</h5>

            <div class="card-body">
                <table id="tblRoles" class="table table-hover table-striped table-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>Rol</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
      
        </div>
    </div>
</div>

<div class="row" id="Form-Rol" style="display: none;">

    <div class="col-12">
        <div class="card mb-4">

            <h5 class="card-header">ROLES</h5>

            <div class="card-body">
                <form id="frmRol">
                    <div class="mb-3">
                        <label for="NombreRol" class="form-label">Nombre del Rol</label>
                        <input type="text" class="form-control" id="NombreRol" name="NombreRol">
                    </div>

                    <div class="row mb-3">
                        <div class="col-12" id="checkbox-container">
                        </div>
                    </div>

                    <!-- Botones en la parte inferior derecha -->

                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary me-2" id="regresarRol">Regresar</button>
                        <button type="button" class="btn btn-primary" id="guardarRol">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>



@section scripts {

    <script src="~/Scripts/VistasJS/Seguridad/Roles.js"></script>

}
