
@{
    ViewBag.Title = "Index";
}

<style>
    .icon-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px; /* Tamaño del círculo */
        height: 40px; /* Tamaño del círculo */
        background-color: green; /* Color de fondo verde */
        border-radius: 50%; /* Para crear un círculo */
    }

    .money-icon {
        font-size: 30px; /* Tamaño del icono más grande */
        color: white; /* Color del icono */
    }
</style>

<div class="row">
    <div class="col-lg-8 mb-4 order-0">
        <div class="card">
            <div class="d-flex align-items-end row">
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Bienvenido Jhayco! 🎉</h5>
                        <p class="mb-4">Haz obtenido un <span class="fw-medium">72%</span> de ganancias hoy.</p>

                        <a href="javascript:;" class="btn btn-sm btn-outline-primary">Ver</a>
                    </div>
                </div>
                <div class="col-sm-5 text-center text-sm-left">
                    @*<div class="card-body pb-0 px-0 px-md-4">
                        <img src="../assets/img/illustrations/man-with-laptop-light.png" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png">
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 order-1">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <div class="icon-circle">
                                    <i class="bx bx-money money-icon"></i>
                                </div>
                            </div>
                        </div>
                        <span class="fw-medium d-block mb-1">Ventas</span>
                        <h3 class="card-title mb-2">$3,528</h3>
                        <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +72.80%</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <div class="icon-circle">
                                    <i class="bx bx-money money-icon"></i>
                                </div>
                            </div>
                        </div>
                        <span class="fw-medium d-block mb-1">Ventas</span>
                        <h3 class="card-title mb-2">$3,528</h3>
                        <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +72.80%</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
