<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="Contexto" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5103.site4now.net;initial catalog=db_a9f5c9_zonamovil;persist security info=True;user id=db_a9f5c9_zonamovil_admin;password=ZonaMovil03;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<!--<add name="Contexto" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=LKPC;initial catalog=zonamovilSys;persist security info=True;user id=admin;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<!--<add name="Contexto" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=JHAYCO;initial catalog=zm_calidad;persist security info=false;user id=SA;password=03102001;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <add name="Contexto" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL8006.site4now.net;initial catalog=db_aa9f4e_zcalidad;persist security info=false;user id=db_aa9f4e_zcalidad_admin;password=ZnMv1l0304;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>