
@{
    ViewBag.Title = "Index";
}


<div class="row" id="Index-User">
    <div class="col-12">
        <div class="card mb-4">
            <h5 class="card-header">USUARIOS</h5>

            <div class="card-body">
                <table id="tblUsers" class="table table-hover table-striped table-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre de Usuario</th>
                            <th>Rol</th>
                            <th>Nombre Completo</th>
                            <th>Correo</th>
                            <th>Estado</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="row" id="Form-User" style="display:none;">
    <div class="col-12">
        <div class="card mb-4">
            <h5 class="card-header">Formulario de Usuario</h5>

            <div class="card-body">
                <form id="UserForm">
                    <input type="hidden" id="IdUsuario" name="IdUsuario" value="0" />  <!-- Input oculto para IdUsuario -->

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="Nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="Nombre" name="Nombre" required />
                        </div>
                        <div class="col-md-6">
                            <label for="Apellidos" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" id="Apellidos" name="Apellidos" required />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="NombreUsuario" class="form-label">Nombre de Usuario</label>
                            <input type="text" class="form-control" id="NombreUsuario" name="NombreUsuario" required />
                        </div>
                        <div class="col-md-6">
                            <label for="Correo" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="Correo" name="Correo" required />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6 d-flex flex-column">
                            <label for="IdRol" class="form-label">Rol</label>
                            <select class="selectpicker form-select" id="IdRol" name="IdRol" data-live-search="true">
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="Contrasena" class="form-label">Contraseña</label>
                            <input type="text" class="form-control" id="Contrasena" name="Contrasena" required value="Temporal2023" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-end">
                            <!-- Alineación a la derecha -->
                            <button type="button" class="btn btn-secondary me-2" id="backUsers">Regresar</button>  <!-- Botón Regresar -->
                            <button type="submit" class="btn btn-primary" id="saveUser">Guardar</button>  <!-- Botón Guardar -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/VistasJS/Seguridad/Usuarios/UserRules.js"></script>
    <script src="~/Scripts/VistasJS/Seguridad/Usuarios/Usuarios.js"></script>
}
